
  /* Error Container */
  .error-container {
    margin: 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  }
  
  /* Header */
  .error-container h1 {
    font-size: 3rem;
    color: hwb(0 49% 51%);
    margin-bottom: 10px;
  }
  
  /* Error Message */
  .error-container p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #dddddd;
  }
  
  /* Emphasized Message */
  .error-message {
    font-style: italic;
    color: #ffcccb;
  }
  
  /* Button */
  .error-button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 15px;
    background-color: #424242;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0 0px 6px rgba(243, 242, 242, 0.5);
  }
  
  .error-button:hover {
    background-color: #a5a5a5;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
  }
  