#game-main-route{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;

}

#game-main-route>p{
    font-size: 150%;
    font-weight: 600;
}