.online-game-running{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.gameboard-box.draw{
    background-color: #6399fc;
}

.online-game-matchmaking-stage,
.online-game-tossing-stage,
.online-game-toss-complete,
.online-game-running,
.online-game-results{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 20px;
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
}

.scores-div-main{
    display: flex;
    gap: 20px;
}

.player-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(54, 54, 54);
}

.player-score-name{
    font-weight: 600;
}