#root-header{
    width: 100%;
    display: flex;
    height: 7%;
    align-items: center;
    justify-content: space-between;
}
#root-header>h2{
    margin-left: 10px;
    font-size: 200%;
}

#root-header>a{
    margin-right: 10px;
}

#root-content{
    flex: 1;
}

#root-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#root-footer{
    text-decoration: none;
}

#root-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}