#root-header{
    width: 100%;
    display: flex;
    height: 7%;
    align-items: center;
    justify-content: space-between;
}
#root-header>h2{
    margin-left: 10px;
    font-size: 200%;
}

#root-header>.header-links{
    margin-right: 10px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-links>a {
    color: white;
}
  
.user-section {
    position: relative;
}
  
.user-btn, .warning-btn, .login-btn {

    color: white;
    font-size: 16px;
    cursor: pointer;
}

.user-btn{
    display: flex;
    align-items: center;
    gap: 5px;
}
  
.warning-btn {
    color: red;
}
  
.dropdown {
    position: absolute;
    right: 0;
    background: rgb(145, 144, 144);
    color: black;
    border: 1px solid #3b3b3b;
    padding: 10px;
    min-width: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 110%;
}

.dropdown>.error-message{
    color: #b60f0f;
    font-weight: 600;
    font-size: 105%;
}
  
  .error-text {
    color: rgb(214, 214, 214);
    font-size: 14px;
  }
#root-content{
    flex: 1;
}

#root-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#root-footer{
    text-decoration: none;
}

#root-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px) {
    #root-header h2 {
      font-size: 24px;
    }
  
    .user-btn, .login-btn {
      font-size: 18px;
    }
}


.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px; 
    background-color: rgb(10, 123, 253); 
    z-index: 9999;
    animation: loading 1s linear infinite; 
}
  
@keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
}
  